/* ---------- Game element containers ---------- */

#orc1_container {
  width: 15%;
  position: absolute;
  pointer-events: auto;
  visibility: hidden;
}

#orc1_sprite {
  position: relative;
  z-index: 11;
}

#orc1_shadow {
  width: 40%;
  position: absolute;
  top: 75%;
  left: 27%;
  filter: blur(4px) opacity(70%);
  z-index: 10;
}

#orc2_container {
  width: 15%;
  position: absolute;
  filter: hue-rotate(45deg);
  pointer-events: auto;
  visibility: hidden;
}

#orc2_sprite {
  position: relative;
  z-index: 11;
}

#orc2_shadow {
  width: 40%;
  position: absolute;
  top: 75%;
  left: 27%;
  filter: blur(4px) opacity(70%);
  z-index: 10;
}

#orc3_container {
  width: 15%;
  position: absolute;
  filter: hue-rotate(90deg);
  pointer-events: auto;
  visibility: hidden;
}

#orc3_sprite {
  position: relative;
  z-index: 11;
}

#orc3_shadow {
  width: 40%;
  position: absolute;
  top: 75%;
  left: 27%;
  filter: blur(4px) opacity(70%);
  z-index: 10;
}

#orc4_container {
  width: 15%;
  position: absolute;
  filter: hue-rotate(135deg);
  pointer-events: auto;
  visibility: hidden;
}

#orc4_sprite {
  position: relative;
  z-index: 11;
}

#orc4_shadow {
  width: 40%;
  position: absolute;
  top: 75%;
  left: 27%;
  filter: blur(4px) opacity(70%);
  z-index: 10;
}

#orc5_container {
  width: 15%;
  position: absolute;
  filter: hue-rotate(180deg);
  pointer-events: auto;
  visibility: hidden;
}

#orc5_sprite {
  position: relative;
  z-index: 11;
}

#orc5_shadow {
  width: 40%;
  position: absolute;
  top: 75%;
  left: 27%;
  filter: blur(4px) opacity(70%);
  z-index: 10;
}

#orc6_container {
  width: 15%;
  position: absolute;
  filter: hue-rotate(225deg);
  pointer-events: auto;
}

#orc6_sprite {
  position: relative;
  z-index: 11;
}

#orc6_shadow {
  width: 40%;
  position: absolute;
  top: 75%;
  left: 27%;
  filter: blur(4px) opacity(70%);
  /* z-index: 10; */
}

#troll_container {
  position: absolute;
  width: 50%;
  top: 30%;
  left: -30%;
  visibility: hidden;
}

#wizard_container {
  position: relative;
  width: 50%;
  top: -125%;
  left: 69%;
  pointer-events: none;
}

#wizard_sprite {
  position: relative;
  z-index: 11;
}
#wizard_shadow {
  width: 17%;
  position: absolute;
  top: 75%;
  left: 41%;
  filter: blur(4px) opacity(70%);
  z-index: 10;
}

#crystal_container {
  width: 15%;
  position: absolute;
  top: 45%;
  left: 75%;
  pointer-events: none;
  z-index: 10;
}

#crystal_shadow {
  width: 40%;
  position: absolute;
  top: 110%;
  left: 27%;
  filter: blur(4px) opacity(50%);
  z-index: 10;
}

#energy_container {
  width: 5%;
  position: absolute;
  top: 25%;
  left: 10%;
}

#ligntningStrike_container {
  width: 13%;
  position: absolute;
  top: 50%;
  left: 50%;
  filter:drop-shadow(0px 0px 5px rgb(185, 236, 255));
  /* pointer-events: none; */
  /* z-index: 105; */
  visibility: hidden;

}
