/* ---------- Game element containers ---------- */


#orc1_container {
  width: 15%;
  position: absolute;
  pointer-events: auto;
  visibility: hidden;
}

#orc2_container {
  width: 15%;
  position: absolute;
  filter: hue-rotate(45deg);
  pointer-events: auto;
  visibility: hidden;
}

#troll_container {
  position: absolute;
  width: 50%;
  top: 30%;
  left: -30%;
  visibility: hidden;
}

#wizard_container {
  /* transform-origin: center; */
  position: relative;
  width: 50%;
  top: -125%;
  left: 69%;
  pointer-events: none;
}

#wizard_sprite {
  position: relative;
  z-index: 11;
}
#wizard_shadow {
  /* transform-origin: center; */
  width: 17%;
  position:absolute;
  top: 75%;
  left: 41%;
  filter: blur(4px) opacity(80%);
  z-index: 10;

}

#crystal_container {
  width: 15%;
  position: absolute;
  top: 45%;
  left: 75%;
  pointer-events: none;
}
#energy_container {
  width: 5%;
  position: absolute;
  top: 25%;
  left: 10%;
}