/* Game UI */

#game_ui {
  pointer-events: none;
}

#mana_board {
  display: flex;
  margin-block-start: .2em;
  /* width: 20%; */
  position: absolute;
  top: 15%;
  left: 79%;
}
.manaIcons {
  width: 20%;
}


#health_board {
  width: 20%;
  position: absolute;
  top: 5%;
  left: 77%;
  filter: drop-shadow(2px 2px 3px black);
}

#healthText {
  width: 77%;
  position: absolute;
  top: 0%;
  left: 18%;
  font-size: 3vw;
  font-weight: 900;
  color: rgb(255, 0, 128);
  filter: drop-shadow(1px 1px 2px black);
}

#health_bar {
  width: 15%;
  position: absolute;
  top: 7.2%;
  left: 81.7%;
  transform-origin: left;
  transform: scaleX(90%);
  visibility: hidden;
}

#time_board {
  width: 25%;
  position: absolute;
  top: 5%;
  left: 3%;
  filter: drop-shadow(2px 2px 3px black);
}

#countdownText {
  width: 25%;
  position: absolute;
  top: -10%;
  left: 38%;
  font-size: 3.5vw;
  font-weight: 900;
  filter: drop-shadow(1px 1px 2px black);
}

.RestartGameButton {
  font-family: 'Labrada', serif;
font-size: 4vw;
position: absolute;
top: 116%;
left: 30%
}