#game_over {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(0, 0, 0);
  visibility: hidden;
  z-index: 1;
}

#game_over_window {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  background-image: url(/images/GUI/window.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 100;
}

#game_over_text {
  width: 60%;
  top: 20%;
  left: 20%;
  position: absolute;
  font-size: 2vw;
}

#game_over_text h1 {
  font-size: 6vw;
  text-align: center;
}
#game_over_text {
  text-align: center;
}
