/* ---------- Wizard animations ---------- */

.wizard_attack {
  animation-name: wizard_attack;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes wizard_attack {
  0% {
    filter: brightness(100%);
  }
  2% {
    filter: brightness(200%);
  }
  10% {
    filter: brightness(100%);
  }
  100% {
  }
}

/* ---------- Orc animations ---------- */

.orc_run {
  animation-name: orc_path_01;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes orc_path_01 {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(460%);
  }
}

@keyframes orc_path_02 {
  0% {
    transform: translate(-100%, -70%);
  }
  100% {
    transform: translate(460%, -20%);
  }
}

@keyframes orc_path_03 {
  0% {
    transform: translate(-100%, 70%);
    z-index: 5;
  }
  100% {
    transform: translate(460%, 20%);
  }
}

.orc_attack {
  animation-name: orc_attack;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes orc_attack {
  0% {
    transform: scale(100%);
  }
  80% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}

.orc_death {
  animation-name: orc_death;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes orc_death {
  0% {
    filter: brightness(500%);
  }
  10% {
    filter: brightness(100%);
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* ---------- Troll animations ---------- */

.troll {
  /* animation-name: troll_path_01; */
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes troll_path_01 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(150%);
  }
}

/* ---------- Crystal animations ---------- */
.crystal {
  animation-name: crystal_float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes crystal_float {
  0% {
    transform: translate(0, 3%);
    filter: drop-shadow(0px 0px 5px #adeefc);
  }

  50% {
    transform: translate(0, 0%);
    filter: drop-shadow(0px 0px 15px #adeefc);
  }
  100% {
    transform: translate(0, 3%);
    filter: drop-shadow(0px 0px 5px #adeefc);
  }
}

/* ---------- Energy orb animations ---------- */

.energy_move {
  animation-name: energy_path_01;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes energy_path_01 {
  0% {
    transform: translate(-1100%);
  }
  100% {
    transform: translate(1000%);
  }
}

.energy_click {
  animation-name: energy_click;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.44, -0.36, 0.83, 0.67);
  animation-fill-mode: both;
}

@keyframes energy_click {
  0% {
    transform: scale(100%);
    filter: brightness(1000%);
    filter: drop-shadow(0px 0px 5px #adeefc);
  }
  10% {
    filter: drop-shadow(0px 0px 200px #adeefc);
    filter: brightness(200%);
  }
  100% {
    filter: drop-shadow(0px 0px 50px #adeefc);
    transform: scale(0%);
  }
}

.energy_idle {
  animation-name: energy_idle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes energy_idle {
  0% {
    transform: rotate(0deg) translateY(5px);
    filter: drop-shadow(0px 0px 5px #ffff8b);
  }
  50% {
    transform: translateY(-5px) rotate();
    filter: drop-shadow(0px 0px 10px #ffff8b);
  }

  100% {
    transform: rotate(360deg) translateY(5px);
    filter: drop-shadow(0px 0px 5px #ffff8b);
  }
}

/* ---------- Global triggers ---------- */

.pauseAnimation {
  animation-play-state: paused;
}

.hidden {
  visibility: hidden;
}
