/* ---------- Game element containers ---------- */


#orc_container {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 0%;
  visibility: hidden;
}

#troll_container {
  width: 50%;
  position: absolute;
  top: 30%;
  left: -30%;
  visibility: hidden;
}

#wizard_container {
  /* transform-origin: center; */
  width: 40%;
  position: absolute;
  top: 40%;
  left: 75%;
  pointer-events: none;
}
#crystal_container {
  width: 15%;
  position: absolute;
  top: 45%;
  left: 75%;
  pointer-events: none;
}
#energy_container {
  width: 5%;
  position: absolute;
  top: 25%;
  left: 10%;
}