body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
}

.spriteWidth {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  /* width: 100%; */
  overflow: hidden;
}

#game {
  /* grid-area: 1/1; */
  background-color: blue;

  overflow: hidden;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  position: relative;
}

#game_background {
  /* grid: 1/1; */
  background-image: url(./images/game_background_2.png);
  background-color: aqua;
  background-size: cover;
}

/* Game UI */

#mana_board {
  width: 20%;
  position: absolute;
  top: 15%;
  left: 77%;
  filter: drop-shadow(2px 2px 3px black);
}

#health_board {
  width: 20%;
  position: absolute;
  top: 5%;
  left: 77%;
  filter: drop-shadow(2px 2px 3px black);
}

#time_board {
  width: 25%;
  position: absolute;
  top: 5%;
  left: 3%;
  filter: drop-shadow(2px 2px 3px black);
}

/* Game element containers */

#orc_container {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 0%;
}

#troll_container {
  width: 50%;
  position: absolute;
  top: 30%;
  left: -30%;
}

#wizard_container {
  /* transform-origin: center; */
  width: 10%;
  position: absolute;
  top: 50%;
  left: 90%;
}
#crystal_container {
  width: 15%;
  position: absolute;
  top: 45%;
  left: 75%;
}
#energy_container {
  width: 5%;
  position: absolute;
  top: 25%;
  left: 50%;
}

/* Animations */

.orc {
  animation-name: orc_path_03;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes orc_path_01 {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(460%);
  }
}

@keyframes orc_path_02 {
  0% {
    transform: translate(-100%, -70%);
  }
  100% {
    transform: translate(460%, -20%);
  }
}

@keyframes orc_path_03 {
  0% {
    transform: translate(-100%, 70%);
    z-index: 5;
  }
  100% {
    transform: translate(460%, 20%);
  }
}

.troll {
  animation-name: troll_path_01;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes troll_path_01 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(150%);
  }
}

.crystal {
  animation-name: crystal_float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes crystal_float {
  0% {
    transform: translate(0, 3%);
    filter: drop-shadow(0px 0px 5px #adeefc);
  }

  50% {
    transform: translate(0, 0%);
    filter: drop-shadow(0px 0px 15px #adeefc);
  }
  100% {
    transform: translate(0, 3%);
    filter: drop-shadow(0px 0px 5px #adeefc);
  }
}

.energy {
  animation-name: crystal_path_01;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes crystal_path_01 {
  0% {
    transform: translate(50%);
  }

  100% {
    transform: translate(100%, 900%);
  }
}
