body {
  margin: 0;
}

img {
  width: 100%;
}

.spriteWidth {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}

#game {
  grid-area: 1/1;
  background-color: blue;

  overflow: hidden;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  position: relative;
}

#game_background {
  grid: 1/1;
  background-image: url(./images/game_background_2.png);
  background-color: aqua;
  background-size: cover;
}

/* Game UI */

#mana_board {
  width: 20%;
  position: absolute;
  top: 15%;
  left: 77%;
}

#health_board {
  width: 20%;
  position: absolute;
  top: 5%;
  left: 77%;
}

#time_board {
  width: 25%;
  position: absolute;
  top: 5%;
  left: 3%;
}

/* Game element containers */

#orc_container {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 0%;
}

#troll_container {
  width: 50%;
  position: absolute;
  top: 30%;
  left: -30%;
}

#wizard_container {
  /* transform-origin: center; */
  width: 10%;
  position: absolute;
  top: 50%;
  left: 90%;
}
#crystal_container {
  width: 15%;
  position: absolute;
  top: 45%;
  left: 75%;
}
#energy_container {
  width: 5%;
  position: absolute;
  top: 25%;
  left: 50%;
}

/* Animations */

.orc {
  animation-name: orc_run;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes orc_run {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(70vw);
  }
}

.troll {
  animation-name: troll_run;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes troll_run {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(70vw);
  }
}

.crystal {
  animation-name: crystal_float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes crystal_float {
  0% {
    transform: translate(0, 3%);
    filter: drop-shadow(0px 0px 5px #adeefc);
  }

  50% {
    transform: translate(0, 0%);
    filter: drop-shadow(0px 0px 15px #adeefc);
  }
  100% {
    transform: translate(0, 3%);
    filter: drop-shadow(0px 0px 5px #adeefc);
  }
}
